@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", sans-serif;
}

#root{
    width: 80vw;
    margin: 0 auto
}

@tailwind base;
@tailwind components;
@tailwind utilities;